name: Step 1, Create a pull request

# This step triggers after the learner creates a pull request for the my-resume branch
# This workflow updates from step 1 to step 2.

# This will run every time we open a pull request.
# Reference: https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows
on:
  workflow_dispatch:
  pull_request:
    types: [opened]

# Reference: https://docs.github.com/en/actions/security-guides/automatic-token-authentication
permissions:
  # Need `contents: read` to checkout the repository.
  # Need `contents: write` to update the step metadata.
  contents: write

jobs:
  # Get the current step to only run the main job when the learner is on the same step.
  get_current_step:
    name: Check current step number
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - id: get_step
        run: |
          echo "current_step=$(cat ./.github/steps/-step.txt)" >> $GITHUB_OUTPUT
    outputs:
      current_step: ${{ steps.get_step.outputs.current_step }}

  on_create_pr:
    name: On create PR
    needs: get_current_step

    # We will only run this action when:
    # 1. This repository isn't the template repository.
    # 2. The step is currently 1.
    # Reference: https://docs.github.com/en/actions/learn-github-actions/contexts
    # Reference: https://docs.github.com/en/actions/learn-github-actions/expressions
    if: >-
      ${{ !github.event.repository.is_template
          && needs.get_current_step.outputs.current_step == 1 }}

    # We'll run Ubuntu for performance instead of Mac or Windows.
    runs-on: ubuntu-latest

    steps:
      # We'll need to check out the repository so that we can edit the README.
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Let's get all the branches.

      - name: Prepare a merge conflict
        run: |
          echo "Make sure we are on step 1"
          if [ "$(cat .github/steps/-step.txt)" != 1 ]
          then
            echo "Current step is not 1"
            exit 0
          fi

          echo "Manually update step in my-resume to match step in main branch"
          git checkout my-resume
          git config user.name github-actions[bot]
          git config user.email github-actions[bot]@users.noreply.github.com
          sed -i.bak 's/1/2/' .github/steps/-step.txt
          git add .github/steps/-step.txt
          git commit --message="Update step in my-resume"
          echo "Push"
          git push origin my-resume

          echo "Create a merge conflict in main"
          git checkout main
          sed -i.bak 's/Experience/Jobs/' resume.md
          git add resume.md
          git commit --message="Update resume.md in main"

          echo "Push"
          git push origin main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # In README.md, switch step 1 for step 2.
      - name: Update to step 2
        uses: skills/action-update-step@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          from_step: 1
          to_step: 2
          branch_name: my-resume
